modsadvpot/
!dist/
dist/*
!dist/docket-cache.zip
wp-plugins-svn/
composer.lock
/includes/vendor/bin/
/includes/vendor/composer/*.json
/includes/vendor/**/composer.json
/includes/vendor/**/.git
/includes/vendor/**/*.md
/includes/vendor/**/*.yml
/includes/vendor/**/.*.yml
/includes/vendor/**/.phpunit.*
/includes/vendor/**/Tests/
/includes/vendor/**/Examples/
/includes/vendor/**/Docs/
/includes/vendor/**/phpstan.neon
/includes/vendor/**/phpstan.neon.dist
/includes/vendor/**/phpunit.xml.dist
/includes/vendor/**/infection.json.dis
/includes/vendor/**/phpcs.php_cs
/includes/vendor/**/phpcs.xml.dist
/includes/vendor/**/Makefile
/includes/vendor/**/phive.xml
/includes/vendor/**/psalm.xml
/includes/vendor/**/phpcs.xml.dist
/includes/vendor/**/composer.lock
/includes/vendor/**/infection.json.dist
/includes/vendor/**/.editorconfig
/includes/vendor/**/.bookignore
/includes/vendor/**/.dependabot
/includes/vendor/**/LICENSE
/includes/vendor/**/README
/includes/vendor/**/license.txt
/includes/vendor/**/readme.txt

*.awie-bak
*.cache
*.sh
*.phar
!/tests/
/tests/*
!/tests/*.php
*-phar*.php
.php_cs
CodeSniffer.*
note.txt
